header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
    }
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}