
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
 <header>
        <div class="contenedor">
            <p class="logo">FastComponents</p>
            <nav>
                <a href="#Lo-que-ofresemos">¿Que se busca?</a>
                <a href="#Como-ayudar">Temas a abordar</a>
                <a href="#lo-mostrado">Porque no se informa</a>
                <a href="/">Regresar</a>
            </nav>
        </div>
    </header>
</body>
</html>
        
