* {
    box-sizing: border-box;
}
body {
    background-color: rgb(245, 245, 245);
}
html {
    scroll-behavior: smooth;
}
h1 {
    font-size: 2.6em;
}
h2 {
    font-size: 2em;
    font-family: 'Consul', sans-serif;
}
h3 {
    font-size: 1.5em;
    font-family: 'Consul', sans-serif;
}
p {
    font-size: 1em;
    font-family: 'TheExtended', sans-serif;
}
li {
    font-size: none;
}
ul {
    list-style: none;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

@font-face {
    font-family: 'Consul';
    src: url('../static/fonts/Consul.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DigitalGlitchDemo';
    src: url('../static/fonts/DigitalGlitchDemo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TheExtended';
    src: url('../static/fonts/TheExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

button {
    padding: 12px 20px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 2.5px;
    border: 1px solid black;
    box-shadow: 2px 2px black;
    color: aliceblue;
    background-color: #ab7633;
    font-family: 'Consul', sans-serif;
}

button:hover {
    background-color: #744d1a;
}

.contenedor {
    max-width: 1200px;
    margin: auto;
}

.color-acento {
    color: rgb(89, 141, 67);
}

header {
    background-color: rgb(236, 233, 233);
}
header p.logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: 		#ab7633;
    font-size: 1.5em;
    font-family: 'Consul', sans-serif;
}

header .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    font-family: 'Consul', sans-serif;
}
label {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    font-family: 'Consul', sans-serif;
}
header a {
    padding: 5px 12px;
    text-decoration: none;
    font-size: none;
    font-weight: bold;
    color: black;
}
header a:hover {
    color: 	#ab7633;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url('../static/img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
}

#hero h1 {
    display: flex;
    color: white;
    font-size: clamp(1.5rem, 6vw, 4.5rem);
    font-family: 'DigitalGlitchDemo', sans-serif;
    
}

#Lo-que-ofresemos .contenedor {
    text-align: center;
    padding: 200px 12px;
}

#Como-ayudar {
    background-color: #4c2a20;
    color: white;
    text-align: center;
}

#Como-ayudar .contenedor {
    text-align: center;
    padding: 100px 0px;
}

#Como-ayudar h2 {
    margin-top: 0;
    font-size: 2em;
}
#Como-ayudar p {
    display: none;
}

#Como-ayudar .carta {
    background-position: center center;
    background-size: cover;
    padding: 45px;
    margin: 20px;
    border-radius: 15px;
    flex: 1 1 300px
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    align-items: center;
}
.seleccionar {
    padding: 6px 12px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 2.5px;
    border: 1px solid black;
    box-shadow: 2px 2px rgb(51, 50, 50);
    color: aliceblue;
    background-color: #ab7633;
    font-family: 'Consul', sans-serif;
}

.carta:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("../static/img/comparacion.jpg");
}
.carta:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("../static/img/compatibilidad.jpg");
}
.carta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("../static/img/listado.jpg");
}
.cartac1{
    background-position: center center;
    background-size: cover;
    padding: 45px;
    margin: 20px;
    border-radius: 15px;
    flex: 1 1 300px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("../static/img/cartac1.png");
}
.cartac2{
    background-position: center center;
    background-size: cover;
    padding: 45px;
    margin: 20px;
    border-radius: 15px;
    flex: 1 1 300px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("../static/img/cartac2.png");
}
.cartac3 {
    background-position: center center;
    background-size: cover;
    padding: 45px;
    margin: 20px;
    border-radius: 15px;
    flex: 1 1 300px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("../static/img/cartac3.png");
}
.cartac4 {
    background-position: center center;
    background-size: cover;
    padding: 45px;
    margin: 20px;
    border-radius: 15px;
    flex: 1 1 300px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url("../static/img/cartac4.png");
}

.orden {
    background-position: center center;
    background-size: cover;
    padding: 25px;
    margin: 50px;
    border-radius: 15px;
    flex: 1 1 300px;
    background-color: #fff;
    h2 {
        color: black;
    }
}
#lo-mostrado {
    background-color: rgb(30, 30, 30);
    color: white;
}
#lo-mostrado .contenedor {
    text-align: center;
    padding: 250px 12px;
}

#lo-mostrado li {
    margin: 16px 0px;
    font-weight: bold;
}
#lo-mostrado p {
    padding: 20px 20px;
}

#caracteristicas .contenedor {
    text-align: center;
    padding: 280px 0px;
    background-position: center center;
    background-size: cover;
    margin: 5px;
    border-radius: 15px;
    font-weight: bold;
}

footer p {
    margin: 0;
    color: rgb(100, 100, 100);
    padding: 12px;
}
footer .contenedor {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 780px) {
    header {
        position: fixed;
        width: 100%;
    }
    header .contenedor {
        flex-direction: row;
        justify-content: space-between;
    }
    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #hero h1 {
        font-size: 4.5em;
    }
    #Lo-que-ofresemos .contenedor {
        display: flex;
        justify-content: space-evenly;
    }

    #Lo-que-ofresemos .texto {

        width: 50%;
        text-align: initial;
        padding: 0px 30px;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
    }
    #Lo-que-ofresemos h2 {
        margin-top: 0px;
    }
    #Lo-que-ofresemos .contenedor-imagen {
        background-image: url("../static/img/escudo.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 520PX;
    }
    #lo-mostrado p {
        padding: 20px 120px;
    }
    #Como-ayudar .programas {
        display: flex;
        justify-content: center;
    }
    #Como-ayudar p {
        display: block;
        margin-bottom: 30px;
    }
    #Como-ayudar h2 {
        font-size: 2.5em;
    }
    #Como-ayudar h3 {
        margin-top: 0;
    }
    #Como-ayudar .carta {
        padding: 50px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }
    #caracteristicas {
        background-image: url("{{ url_for('static', path='img/naturesinfondo.png') }}");
        background-repeat: no-repeat;
        background-position: calc(100vw - 500px) 35px;

    }
    #caracteristicas .contenedor {
        text-align: initial;
    }
    #caracteristicas ul {
        margin-left: 100px;
    }
    #lo-mostrado h1 {
        font-size: 2.6em;
    }
    footer .contenedor {
        justify-content: flex-end;
    }
}
.footer {
    background: #79521f;
    color: white;
    padding: 2rem;
    color: aliceblue;
    font-family: 'Consul', sans-serif;
    align-items: center;
    font-size: 1em;
    font-family: 'TheExtended', sans-serif;
    
    text-align: center;
    p {
        color: white;
    }
}
.form_forma{
    input {
        height: 20px;
        width: 263px;
    }
    select {
        height: 20px;
        width: 263px;
    }
    button {
        text-align: center;
        justify-content: center;
        width: 263px;
    }
    label {
        height: 20px;
        width: 263px;
    }
    form{
        text-align: center;
    }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #2d3748;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.card-detail {
  font-size: 1rem;
  margin: 5px 0;
  color: #cbd5e1;
}

.card-detail.highlight {
  color: chocolate;
  font-weight: bold;
}

/* Responsivo */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1200px) {
    #csracteristicas {
        background-position-x: calc(100vw - 800px);
    }
}


