{% extends 'base.html' %}

{% block title %} {{ titulo }} - Comparación {% endblock %}

{% block content %}

<section id="hero">
    <div class="hero">
        <h1 class="hero-title">Creacion de orden</h1>
        <h3 class="hero-subtitle">En este espacio crearas tu orden con los compnentes que elijas</h3>
    </div>
</section>

<section id="Lo-que-ofresemos ">
    <div class="cards-container">
        <div class="form_forma">
            <form method="post" action="/add">
                <label>Nombre de la orden:</label>
                <input type="text" name="nombre_orden" required><br><br>

                <label>Motherboard:</label>
                <select name="motherboard_id" required>
                    {% for mb in motherboards %}
                        <option value="{{ mb.id }}">{{ mb.marca }} - {{ mb.modelo }} ({{ mb.socket }})</option>
                    {% endfor %}
                </select><br><br>

                <label>CPU:</label>
                <select name="cpu_id" required>
                    {% for cpu in cpus %}
                        <option value="{{ cpu.id }}">{{ cpu.marca }} - {{ cpu.modelo }} ({{ cpu.socket }})</option>
                    {% endfor %}
                </select><br><br>

                <label>RAM:</label>
                <select name="ram_id" required>
                    {% for ram in rams %}
                        <option value="{{ ram.id }}">{{ ram.marca }} - {{ ram.modelo }} ({{ ram.tipo_ram }})</option>
                    {% endfor %}
                </select><br><br>

                <label>GPU:</label>
                <select name="gpu_id" required>
                    {% for gpu in gpus %}
                        <option value="{{ gpu.id }}">{{ gpu.marca }} - {{ gpu.modelo }}</option>
                    {% endfor %}
                </select><br><br>

                <label>Disco:</label>
                <select name="disco_id" required>
                    {% for disco in discos %}
                        <option value="{{ disco.id }}">{{ disco.marca }} - {{ disco.modelo }}</option>
                    {% endfor %}
                </select><br><br>

                <button type="submit">Crear orden</button>

            </form>
            <form action="/menu#Como-ayudar">
                <button>Regresar</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}