<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} - Visualizando {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='estilos.css') }}">
    <link rel="shortcut icon" href="../static/img/logosinfondo.png" type="iconosinfondo.png">
</head>
<body>
    {% include 'includes/navbar.html' %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include 'includes/footer.html' %}
</body>
</html>