{% extends 'base.html' %}
{% block content %}
<section id="hero">
    <div class="hero">
        <h1 class="hero-title">Eliminar</h1>
        <h3 class="hero-subtitle">Aqui eliminaras ordenes que ya no necesites</h3>
    </div>
</section>

<div class="cards-container">
    <div class="form_forma">
        <h2>Selecciona la orden que deseas eliminar</h2>

        <form method="post" action="eliminar">
            <select name="orden" required>
                {% for nombre in ordenes %}
                    <option value="{{ nombre }}">{{ nombre }}</option>
                {% endfor %}
            </select>
            <br><br>
            <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar esta orden completa?')">
                Eliminar orden
            </button>
        </form>
    </div>
</div>
    <br><br>
<div class="form_forma">
        <form action="/ver_eliminados">
            <button>Ver eliminados</button>
        </form>
    </div>
    <br><br>
<div class="form_forma">
        <form action="/menu#Como-ayudar">
            <button>Regresar</button>
        </form>
    </div>
    <br><br>
{% endblock %}
