{% extends 'base.html' %} {% block title %} Inicio - Visualizando {% endblock %}
{% block content %}

<section id="hero">
  <div class="hero">
    <h1 href>Fast Components</h1>
    <h1>{{title}}</h1>
  </div>
</section>

<section id="Lo-que-ofresemos">
  <div class="contenedor">
    <div class="contenedor-imagen"></div>
    <div class="texto">
      <h2>Nuestro objetivo</h2>
      <p>
        El objetivo de esta pagina, es brindarle seguridad y confianza a la hora
        de armar su computadora de escritorio, la pagina le dara Informacion
        necesaria para la compatibilidad entre los componentes escogidos
      </p>
    </div>
  </div>
</section>

<section id="Como-ayudar">
  <div class="contenedor">
    <h2>Comparaciones</h2>
    <div class="programas">
      <div class="carta">
        <h3>Caracteristicas</h3>
        <p>
          Comparacion entre Caracteristicasde dos componentes, este apartado es
          util para saber que componente es mas potente que otro, de esta manera
          podremos ajustar el presupuesto dependiendo de la necesidad
        </p>
        <form action="/comparacion">
          <button>Comparar</button>
        </form>
      </div>
      <div class="carta">
        <h3>Carrito de compras</h3>
        <p>
          En este apartado podras crear tus ordenes de compra con los componentes que desees, 
          y te dira si son compatibles entre si para facilitar el proceso
        </p>
        <form action="/menu">
          <button>Carrito</button>
        </form>
      </div>
      <div class="carta">
        <h3>Listado de componentes</h3>
        <p>
          En este espacio se encuentra el listado de todos los componentes mas
          adecuados para las computadoras
        </p>
        <form action="/info">
          <button>Listado</button>
        </form>
      </div>
    </div>
</section>
  {% endblock %}
</a>
