{% extends 'base.html' %}
{% block title %} Inicio - Visualizando {% endblock %}
{% block content %}

<section id="hero">
    <div class="hero">
        <h1>Validacion entre compontentes</h1>
        <h1>{{title}}</h1>
        <ul>
            <li>Primer elemento</li>
            <li>Segundo elemento</li>
        </ul>
        </div>
 </section>

<img src="../static/img/cometa.jpg" width="300" height="500">
<br>
<a href="/info">Informacion
<br>
<a href="https://github.com/ANDRESTIAGO">Esto es un enlace</a>


{% endblock %}

