{% extends 'base.html' %}
{% block title %} {{ titulo }} - Visualizando {% endblock %}
{% block content %}
<h3>Info de las sesiones</h3>

<h6>Aqui tenemos mas info</h6>

<a type="button" href="/"> Regresar</a> <br>
<a type="button" href="/add"> Adicionar Sesión</a>

<table style="color: aqua">

    <tr>
        <th>nombre</th>
        <th>tipo</th>
        <th>marca</th>
        <th>modelo</th>
    </tr>
    <tbody>
    {% for  sesion in sesiones %}
    <tr>
        <td>{{ sesion.nombre }}</td>
        <td>{{ sesion.tipo }}</td>
        <td>{{ sesion.marca }}</td>
        <td style="color: chocolate">  {{ sesion.modelo }}</td>

    </tr>
    {% endfor %}
    </tbody>


</table>

{% endblock %}