{% extends 'base.html' %}

{% block content %}
<section id="hero">
  <div class="hero">
    <h1 href>Fast Components</h1>
    <h1>{{title}}</h1>
  </div>
</section>

<section id="Como-ayudar">
    <div class="contenedor">
    <h2>Orden de Compra</h2>
    </div>
        <div class="contenedor">
            <div class="carta">

        <div class="Como-ayudar">
            <form action="/add">
                <button>Crear orden de compra</button>
            </form>
            </div>
        </div>
        <div class="contenedor">
            <form action="/modificar">
                <button>Editar orden de compra</button>
            </form>
        </div>
        <div class="contenedor">
            <form action="/ordenes">
                <button>Mostrar orden de compra</button>
            </form>
        </div>
        <div class="contenedor">
            <form action="/eliminar">
                <button>Eliminar orden de compra</button>
            </form>
        </div>
        
     </div>
</section>
{% endblock %}
