{% extends 'base.html' %}

{% block content %}
<section id="hero">
  <div class="hero">
    <h1 href>Fast Components</h1>
    <h1>{{title}}</h1>
  </div>
</section>
<section id="Como-ayudar">
        <div class="contenedor">
        <div class="Como-ayudar">
            <div class="orden">
                <h2>Orden de Compra</h2>
            </div>
            <div class="cartac1">
                <form action="/add">
                    <button>Crear orden de compra</button>
                </form>
        </div>
        <div class="contenedor">
            <div class="cartac2">
                <form action="/modificar">
                    <button>Editar orden de compra</button>
                </form>
            </div>
        </div>
        <div class="contenedor">
            <div class="cartac3">
                <form action="/ordenes">
                    <button>Mostrar orden de compra</button>
                </form>
            </div>
        </div>
        <div class="contenedor">
            <div class="cartac4">
                <form action="/eliminar">
                    <button>Eliminar orden de compra</button>
                </form>
            </div>
        </div>
     </div>
     <div class="form_forma">
        <form action="/home">
            <button>Regresar</button>
        </form>
    </div>
    <br><br>
</section>
{% endblock %}
