{% extends 'base.html' %}

{% block content %}
<h2>Órdenes Guardadas</h2>


{% if ordenes %}
    {% for nombre, componentes in ordenes.items() %}
        <div style="border: 1px solid #ccc; padding: 10px; margin: 15px 0;">
            <h3>Orden: {{ nombre }}</h3>
            <ul>
                {% for componente in componentes %}
                    <li>
                        <strong>{{ componente.tipo }}</strong> - {{ componente.marca }} {{ componente.modelo }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
        <form action="/menu#Como-ayudar">
            <button>Regresar</button>
        </form>
{% else %}
<section id="Lo-que-ofresemos">
  <div class="contenedor">
    <p>No hay ordenes eliminadas.</p>
  </div>
</section>
    <div class="form_forma">
        <form action="/menu#Como-ayudar">
            <button>Regresar</button>
        </form>
    </div>
    <br><br>
{% endif %}

{% endblock %}
